/* Box Model Hack */
* {
     /* -moz- */
     margin:0;
     padding:0;
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
backgound: white;
font-family: 'Monaco','Fira Mono', monospace;

}


/******************************************
/* LAYOUT
/*******************************************/
header{

}


footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/


.flex-container {
  border-radius: 10px;
  padding: 0.5rem;
  width: 100%;
  height:30px;
  display: flex;
  border: 2px  #78909C;

}
.left{
  margin-right: auto;
}

.left-option{
  padding-left: 2rem;
}

.right-option{
  padding-left: 2rem;
}
.main-container{
  margin: 160px;
  text-align:center;
}

.logo-container, .search-container, .button-container{
  margin: 15px;

}
.search-container {
  position:relative;
  padding:0;
  margin:0;
  text-align: center;
}

input[type="text"]{
  width: 35%;
  height: 30px;
  border-radius: 5%;
  text-align:center;
  color: grey;
  z-index: 0;
}
 #search-icon{
  position: absolute;
   left: 300px;
   padding:6px 60px;
   z-index: 2;
}

form > .search-class{
   z-index: 2;
}
form > .mic-class{
  margin: -45px;
  z-index: 2;
}

.bottom-container{
  position: relative;
}

.footer-container{
  padding: 0.5rem;
  width: 100%;
  position: sticky;
  bottom: 10px;
  height: 30px;
  display: flex;
  border: 1px outset;
  background: rgb(240,240,240);
  position: fixed;
  clear:both;
}

.footer-option-left{
  margin-right: auto;
}
.footer-right{
  padding: 1rem;
}
.footer-left{
  padding: 1rem;
}
.footer-center{
  padding: 0rem;
  color: gray;
  margin-right: auto;
}
a{
   color: gray;
   text-decoration:none;
}
a:hover{
  text-decoration:underline;
}
